<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{vocabulary}}</title>
    <div class="main_container">
        {{vocabulary}}<br/><br>
        {{Chinese}}<br/><br>
        {{sentence}}<br/><br>
        {{Chinese_sentence}}<br/><br>
        {%if is_staring%}
        <form method='post' action='star'>
            {% csrf_token %}
             <a href="{% url 'star'%}">取消收藏<</a>
        </form>
        {%else%}
        <form method='post' action='star'>
            {% csrf_token %}
             <a href="{% url 'star'%}">收藏<</a>
        </form>
        {%endif%}
        <a href="{% url 'vocabulary'%}">下一个<</a>
    </div>
</head>
<body>

</body>
</html>