<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{vocabulary}}</title>
    <div class="main_container">
        {{vocabulary}}<br/><br>
        中文释义：{{Chinese}}<br/><br>
        例句：{{sentence}}<br/><br>
        例句翻译：{{Chinese_sentence}}<br/><br>
        {%if is_staring%}
        <form method='post' action='star'>
            {% csrf_token %}
             <a href="{% url 'star' 'home' %}">取消收藏<</a>
        </form>
        {%else%}
        <form method='post' action='star'>
            {% csrf_token %}
             <a href="{% url 'star' 'home' %}">收藏<</a>
        </form>
        {%endif%}
        <a href="{% url 'main_page'%}">返回<</a>
    </div>
</head>
<body>

</body>
</html>